---
import locales, { defaultLocale } from "@/data/locales";
import routes, { customPageIDs, customPageKeys, type RouteKey } from "@/data/routes";
import MainLayout from "@/layouts/MainLayout.astro";
import { getLang } from "@/utils/locales";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getCollection, render } from "astro:content";

export const getStaticPaths = (async () => {
    const pages = await getCollection(
        "pages",
        (page) => !customPageKeys.includes(page.data.key!) && !customPageIDs.includes(page.id),
    );

    return pages.map((page) => {
        const parts = page.id.split("/");

        if (parts.length < 2) {
            throw new Error(`invalid page id: ${page.id}`);
        }

        const idLocale = parts[0];
        const locale = locales.find((l) => l.toLowerCase() === idLocale);

        if (!locale) {
            throw new Error(`page id does not contain a valid locale: ${page.id}`);
        }

        const entry = page.id.slice(`${idLocale}/`.length);
        const routeKey = page.data.key ?? (entry as RouteKey);

        if (locale === defaultLocale) {
            return {
                params: {
                    locale: undefined,
                    slug: routes[locale][routeKey],
                },
                props: { page },
            };
        } else {
            return {
                params: {
                    locale: getLang(locale),
                    slug: routes[locale][routeKey],
                },
                props: { page },
            };
        }
    });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const { Content } = await render(page);
---

<MainLayout title={page.data.title}>
    <div class="container">
        <h1>{page.data.title}</h1>
        <div>
            <Content />
        </div>
    </div>
</MainLayout>
