---
import ogImage from "@/assets/opengraph-image.png";
import { useTranslations } from "@/i18n";
import locales, { defaultLocale } from "@/locales";
import { getRoute, getRouteKey, isErrorPage, routeLocale } from "@/routes";
import type { ImageMetadata } from "astro";
import { getImage } from "astro:assets";
import Favicon from "./Favicon.astro";
import SEO from "./SEO.astro";

export interface Props {
    canonicalURL?: URL | null;
    description?: string;
    image?: { data: ImageMetadata; alt: string };
    pageType?: "website" | "article";
    rawTitle?: string;
    title?: string;
}

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);

const t = useTranslations("site", locale);

const name = t("name");

const {
    canonicalURL = new URL(Astro.request.url, Astro.site),
    description = t("description"),
    image = {
        data: await getImage({ src: ogImage, format: "png", width: 1200, height: 630 }),
        alt: t("ogImageAlt"),
    },
    pageType = "website",
    rawTitle,
} = Astro.props;

const title = rawTitle ?? [Astro.props.title, name].filter(Boolean).join(" - ");

const resolvedImage = {
    src: new URL(image.data.src, Astro.site).toString(),
    alt: image.alt,
};
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>{title}</title>

<link rel="sitemap" href="/sitemap-index.xml" />

<Favicon />

<SEO
    alternateURLs={!isErrorPage(Astro.routePattern)
        ? locales.map((l) => ({
              locale: l,
              url: new URL(getRoute(l, getRouteKey(Astro.url)), Astro.site),
          }))
        : []}
    canonicalURL={canonicalURL}
    defaultLocale={defaultLocale}
    description={description}
    image={resolvedImage}
    locale={locale}
    name={name}
    og={{ type: pageType }}
    title={title}
/>
