---
import AboutTable from "@/components/AboutTable.astro";
import Github from "@/components/icons/Github.astro";
import contact from "@/data/contact";
import { useTranslations } from "@/utils/i18n";
import { routeLocale } from "@/utils/routes";
import Codeberg from "./icons/Codeberg.astro";
import Linkedin from "./icons/Linkedin.astro";

const locale = routeLocale(Astro.routePattern, Astro.currentLocale);
const t = useTranslations("contactDetails", locale);
---

<AboutTable>
    <thead>
        <tr>
            <th>{t("head")}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{t("email")}</td>
            <td><a href={`mailto:${contact.email}`}>{contact.email}</a></td>
        </tr>
        <tr>
            <td><Github />{t("github")}</td>
            <td><a href={contact.github} rel="nofollow">{t("githubLink")}</a></td>
        </tr>
        <tr>
            <td><Linkedin />{t("linkedin")}</td>
            <td><a href={contact.linkedin} rel="nofollow">{t("linkedinLink")}</a></td>
        </tr>
        <tr>
            <td><Codeberg />{t("codeberg")}</td>
            <td><a href={contact.codeberg} rel="nofollow">{t("codebergLink")}</a></td>
        </tr>
    </tbody>
</AboutTable>

<style is:global>
    .about-table svg {
        display: inline;
        width: 1rem;
        height: 1rem;
        margin: auto 0.5rem auto 0;
        vertical-align: text-top;
    }
</style>
